h1 {
  text-align: center;
  color: brown;
  line-height: 40px;
}

.tarjeta-centrada:last-child {
  margin-right: 20px;
  margin-bottom: 60px;
}
/*

img{
    width: 100%;
    margin: auto;display: block;
    border: 2px solid #000;
}*/
/*
:host{
    display: flex;
    height: 100%;
}
mat-card{
    margin-top: 20px;
}
*/
/*


mat-card-action{
    margin-top: auto;
}*/
