/*.heroes-components{
    background-color: aquamarine;
}*/
.nav-header{
    position: fixed; top: 0; z-index: 1000;
}
.menu-lateral{
    height: 100vh;
    background-color: #dcdcdc;
}
.icon-menu{
    color: #fff;
}
footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    color: #fff;
    text-align: center;
    line-height: 50px;
}