<div class="formulario-buscar">
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Nombres:</label>
      <input type="text" class="form-control" placeholder="Juan sin miedo" />
    </div>

    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" placeholder="Pantoja Relax" />
    </div>

    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Correo:</label>
      <input type="email" class="form-control" placeholder="Enter email" />
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Contraseña:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
      />
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" />
        Recordar
      </label>
    </div>
    <label for="comment">Comentarios:</label>
    <textarea class="form-control descripcion" rows="5" id="comment" name="text" placeholder="Escriba aqui sus comntarios..."></textarea>
    <button type="submit" class="btn btn-success mt-3">Enviar</button>
  </form>
</div>
