
<div class="contenedor-heroe">
<div *ngIf="!heroe; else heroeInfo">
    <mat-spinner></mat-spinner>
</div>

<ng-template #heroeInfo>
    <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutGap="30px">

    <div fxFlex="50" class="contenedor-titulo-img">
        <h1 class="text-center bg-white">{{ heroe.superhero }} <small>- {{ heroe.alter_ego }} </small> </h1> 
        <mat-divider></mat-divider>
        <br>
        <img mat-card-image src="assets/heroes/{{heroe.id}}.jpg" class="w-100">
    </div>

    <div fxFlex="100" class="bg-dark text-white text-center">
        <h1>{{ heroe.publisher }}</h1>
        <mat-divider></mat-divider>
        <br>
        <mat-list >
            <mat-list-item> {{ heroe.first_appearance }} </mat-list-item>
            <mat-list-item> {{ heroe.characters }} </mat-list-item>
            <mat-list-item> {{ heroe.publisher }} </mat-list-item>
            <mat-list-item> {{ heroe.alter_ego }} </mat-list-item>
        </mat-list>

        <br>
        <button mat-button 
        (click)="regresar()">
        Regresar

        </button>
    </div>

    </div>
   
    
</ng-template>
</div>

<!--P>{{heroe | json}}</P-->
